<div class="garage-hours">
            <p>
                <strong>Horaires du garage :</strong><br>
                Lundi - Jeudi : 8h - 18h<br>
                Vendredi : 8h - 18h<br>
                Samedi : 9h - 13h<br>
                Dimanche : Fermé
            </p>
        </div>

        <div>
            <p> Adresse : 123 Rue Fictive, Ville Imaginaire, Pays Bidon</p>
        </div>