{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
    {% set _entity_config = easyadmin_get_entity(easyadmin_config('site')) %}
    {{ parent() }}

    <div class="dashboard-custom-content">
        <h1>Tableau de bord personnalisé</h1>
        <!-- Votre code ici -->
    </div>
{% endblock %}